.form-frame {
    border: 1px solid red;
    border-radius: 15px;
    background: #fff;
    padding: 30px;
}
  
.form {
    display: flex;
    flex-direction: column;
}

.form-content {
    display: flex;
    align-items: center;
    gap: 50px;
}

.form-img-container {
    background: rgba(0, 0, 0, 0.3);
    height: 250px;
    aspect-ratio: 1/1;
    border-radius: 15px;
}

.form-img {
    border: 3px solid black;
    height: 250px;
    aspect-ratio: 1/1;
    border-radius: 15px;
}

.form-inputs {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: 2px solid #000;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    color: #000;
}

.form-btns {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 30px;
}

.form-btn {
    width: 50%;
    border: none;
    text-decoration: none;
    display: inline;
    text-align: center;
    padding: 8px 30px;
    border-radius: 15px;
    background: #000;
    color: #fff;
    transition: 0.3s;
}

.form-btn:hover {
    background: #5c5c5c;
    color: #fff;
}
